/**
* Anax Flat theme.
*/
@import url(modules.less);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

@navColor: #1e5799;
@margin: 0 2% 0 2%;
@marginTop: 2% 2% 0 2%;

html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  margin: @margin;
  img {
    flex-grow: 1;
  }
}

.navbar {
  //.column(12);
  margin: @margin;
  background-color: @navColor;
  display: flex;
  justify-content: center;
  ul {
    //.column(12);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  li {
    flex-grow: 1;
    //.column(2);
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.htdocs {
    .wrapperOverview {
        margin: @margin;
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;

        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;
    }
    .overviewUsersAndTags {
        width: 20%;
        -ms-flex: 0 100px;
        -webkit-box-flex:  0;
        -moz-box-flex:  0;
        -ms-box-flex:  0;
        box-flex:  0;
        .overviewUserLink {
            color: #4f8be6;
            text-transform: uppercase;
            margin-top: 5px;
            font-size: 0.8em;
        }
        .overviewUsersAndTagsContent {
            * {
                padding-left: 10px;
            }
        }
        .tag {
            background-color: #4f8be6;
            color: #fff;
            padding: 5px;
        }
    }
    .overviewPosts {
        border-left: solid black;
        -ms-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        .overviewPostsContent {
            h2 {
                padding-left: 10px;
            }
            .tags {
                padding-left: 10px;
            }
            .Author {
                padding-left: 10px;
            }
            .tag {
                background-color: #4f8be6;
                color: #fff;
                padding: 5px;
            }

            .overviewPostLink {
                color: #4f8be6;
                text-transform: uppercase;
                margin-top: 5px;
                font-size: 0.8em;
            }
        }
    }
}

.showAllUsersWrapper {
    margin: @margin;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    .showAllUsersContent {
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        .showAllUsersLink {
            color: #4f8be6;
            text-transform: uppercase;
            margin-top: 5px;
            font-size: 0.8em;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    }
}

.viewAllPostsWrapper {
    margin: @margin;
    height: 100%;
    display: flex;
    flex: 12;
    flex-direction: column;

    .createNewPostLink {
        color: #4f8be6;
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 0.8em;
    }

    .viewAllPostsContent {
        margin-top: 10px;
        display: flex;
        flex: 12;
        flex-wrap: wrap;
        flex-direction: row;

        .tag {
            background-color: #4f8be6;
            color: #fff;
            padding: 5px;
        }

        .post {
            display: flex;
            flex: 4;
            flex-basis: 30%;
            flex-direction: column;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 10px;

            .postLink {
                color: #4f8be6;
                text-transform: uppercase;
                margin-top: 5px;
                font-size: 0.8em;
            }
        }
    }
}

.viewAllTagsWrapper {
    margin: @margin;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    .tag {
        background-color: #4f8be6;
        color: #fff;
        padding: 5px;
    }
}

.oneTagWrapper {
    margin: @margin;
    height: 100%;
    display: flex;
    flex: 12;
    flex-direction: column;

    .oneTagContent {
        margin-top: 10px;
        display: flex;
        flex: 12;
        flex-wrap: wrap;
        flex-direction: row;

        .post {
            display: flex;
            flex: 4;
            flex-basis: 30%;
            flex-direction: column;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding: 10px;
        }

        .tagLink {
            color: #4f8be6;
            text-transform: uppercase;
            margin-top: 5px;
            font-size: 0.8em;
        }
    }
}

.createNewCommentWrapper {
    margin: @margin;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    .createNewCommentContent {
        width: 100%;
        .createNewCommentForm {
            width: 100%;
            fieldset {
                width: 98%;
                textarea {
                    margin: @margin;
                    width: 96%;
                    height: 300px;
                }
            }
        }
    }
}

.createNewPostWrapper {
    margin: @margin;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    .createNewPostContent {
        width: 100%;
        .createNewPostForm {
            width: 100%;
            fieldset {
                width: 98%;
                textarea {
                    margin: @margin;
                    width: 96%;
                    height: 300px;
                }
            }
        }
    }
}

.allWrapper {
    margin: @margin;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    .allContent {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        .allPostContent, .allCommentContent {
            table, td, th {
                border: 1px solid #ddd;
                text-align: left;
            }
            .allPostLink, .allCommentLink {
                color: #4f8be6;
                text-transform: uppercase;
                margin-top: 5px;
                font-size: 0.8em;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 15px;
            }
        }
    }
}

.footer {
  display: flex;
  p {
    flex-grow: 1;
    text-align: center;
  }
}

.report {
  .wrapper {
   // display: flex;
    flex-direction: row;
    width:50%;
    margin: @margin;
  }
}

.about {
  .wrapper {
   // display: flex;
    flex-direction: row;
    margin: @margin;
  }
}

.right {
  float: right;
}

.create, .update, .delete, .book, .create, .login, .editProfile, .profile, .viewUsers {
  .wrapper {
    // display: flex;
    flex-direction: row;
    margin: @margin;

    .profileButton {
        color: #4f8be6;
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 0.8em;
    }
  }
}

.remserver {

  .wrapper {
   // display: flex;
    flex-direction: row;
    margin: @margin;
  }

  h1 {
    border-bottom: 4px double #666;
  }

  h2 {
    border-bottom: 1px solid #999;
  }

  h3 {
    border-bottom: 1px solid #ccc;
  }
  code {
    padding: 2px;
    background-color: #eee;
  }

  pre {
    background-color: #eee;
    padding: 0.5em;
    border-left: 2px solid #ccc;
  }
}

.mainPost {
//  display: flex;
  flex-direction: row;
  margin: @margin;
}

.postsAndComments {
  .posts {
      margin: 3% auto;
      padding: 0 5%;
      // background-color: #e7edf2;
      display: flex;
      flex-direction: column;
      width: 60%;
      h1 {
          border-bottom: 1px solid #c0c1c6;
      }
      img {
          display: block;
          width: 50px;
          height: 100%;
      }
      .tag {
          background-color: #4f8be6;
          color: #fff;
          padding: 5px;
      }
      .postContent {
          font-size: 1.3em;
      }
      .poster {
          color: #4f8be6;
          text-decoration: none;
      }
  }

  .createComment {
    display: flex;
    margin: auto;
    width: 60%;
    color: #4f8be6;
    a {
        color: #4f8be6;
        text-transform: uppercase;
    }
  }
  .comments {
    display: flex;
    flex-direction: column;

    img {
        width: 50px;
        height: 100%;
        // display: block;
        // margin: 0 auto;
    }
    .commenttext {
        font-size: 1.3em;
        margin-top: 10px;
    }

    .commentPoster {
        a {
            color: #4f8be6;
            text-decoration: none;
        }
    }
    .adminLinks, .newCommentLink {
        color: #4f8be6;
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 0.8em;
    }
  }

.test {
    margin: 3% auto;
    padding: 0 5%;
    // background-color: #e7edf2;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-top: 1px solid #c0c1c6;
    border-bottom: 1px solid #c0c1c6;
    .commentcomments {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #c0c1c6;
        border-bottom: 1px solid #c0c1c6;
        margin: 2% 0 2% 5%;

        h5 {
            margin-right: 10px;
        }
        h6 {
            margin-right: 10px;
        }
        img {
            //display: block;
            //margin: 0 auto;
        }
        .commentcommentPoster {
            a {
                color: #4f8be6;
                text-decoration: none;
            }
        }
    }
}
}

label {
  flex-direction: row;
  margin: @margin;
}
input[type=text], select, input[type=email], input[type=date], input[type=password], input[type=number] {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: @margin;
  width: 96%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  flex-direction: row;
  margin: @marginTop;
  width: 96%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea {
    margin: @margin;
    width: 96%;
    height: 300px;
}
